Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherConditions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherConditions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfService1.WeatherObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.WeatherObject" nillable="true" type="tns:Service1.WeatherObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.WeatherObject" nillable="true" type="tns:ArrayOfService1.WeatherObject" />
  <xs:complexType name="Service1.WeatherObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="humidity" type="xs:double" />
      <xs:element minOccurs="0" name="temp" type="xs:double" />
      <xs:element minOccurs="0" name="temp_max" type="xs:double" />
      <xs:element minOccurs="0" name="temp_min" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.WeatherObject" nillable="true" type="tns:Service1.WeatherObject" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>